<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Application Info</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.2.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="webjars/angular-ui/0.4.0/angular-ui.css">
  </head>
  <body ng-app="envApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <script type="text/ng-template" id="json-object.html">
		<div style="padding: 0px 0px 0px 20px" ng-repeat="(key, val) in env">
			<span>{{key}}:</span>
			<span ng-if="isObject(val)" ng-init="env=toObject(val)" ng-include="'json-object.html'"></span>
			<span style="font-weight: bold" ng-if="!isObject(val)">{{val}}</span>
		</div>
    </script>

	<div ng-controller="EnvController" ng-init="init()" class="container">
		<div ng-include="'json-object.html'"></div>
    </div>

    <script src="webjars/jquery/2.1.1/jquery.js"></script>
    <script src="webjars/angularjs/1.2.23/angular.js"></script>
    <script src="webjars/angularjs/1.2.23/angular-resource.js"></script>
    <script src="webjars/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>
    <script src="webjars/angular-ui/0.4.0/angular-ui.js"></script>
    <script src="webjars/angular-ui-router/0.2.11/angular-ui-router.js"></script>
    <script src="webjars/bootstrap/3.2.0/js/bootstrap.js"></script>

	<script>
		angular.module('envApp', [ 'ngResource', 'ui.router' ])
		    .config(function ($stateProvider, $urlRouterProvider) {
		        $urlRouterProvider.otherwise('/');
		        $stateProvider.state('/', {
		            url: '/env',
		            controller: 'EnvController'
		        });
		    });	
		angular.module('envApp', ['ngResource', 'ui.bootstrap']).
		    factory('Env', function ($resource) {
		        return $resource('/env');
		    }).
		    controller('EnvController', function ($scope, Env) {
		        $scope.refresh = function() {
		            Env.get().$promise.then(function(env) {
		                $scope.env = env;
		            })
		        }
		        $scope.init = function() {
		            $scope.env = {};
		            $scope.refresh();
		        }
		        $scope.isObject = function(val) {
		        	return angular.isObject($scope.toObject(val));
		        }
		        $scope.toObject = function(val) {
		        	if ((typeof val === 'string') && (val.substr(0,1) == '{' || val.substr(0,1) == '[')) {
		        		val = angular.fromJson(val);
		        	}
		        	return val;
		        }
		    });
	</script>
</body>
</html>
