@color-dark-grey: #111111;
@color-bright-grey: #eeeeee;

@theme-background: @color-dark-grey;
@theme-foreground: @color-bright-grey;

body {
	background: @theme-background;
	color: @theme-foreground;
}
